<section class="live-clock-widget">

    <div class="digital-clock">

        <div class="clock-time" id="live-time">
            12:49
        </div>

        <div class="clock-date">
            <span id="live-day">THU</span>
            <span id="live-date">06 AUG 2026</span>
        </div>

        <div class="clock-location" id="live-timezone">
            LOCAL TIME
        </div>

        <div class="clock-weather">
<div class="weather-details">
<span id="live-humidity">Humidity --%</span>
<span id="live-wind">Wind -- km/h</span>
</div>
            🌤 <span id="live-weather">--°C</span>
        </div>

    </div>

</section>
